/* Fix Chrome autofill breaking dark UI */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {

  -webkit-text-fill-color: #ffffff !important;

  transition: background-color 5000s ease-in-out 0s;

  box-shadow: 0 0 0px 1000px #12141a inset !important;

  border: 1px solid rgba(255,255,255,0.1);

}